[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
countryName          = US
stateOrProvinceName  = CA
organizationName     = Company Name
emailAddress         = rsactivewan@company_name.com
commonName           = RsActiveWan

[ usr_cert ]
# End-entity certificate extensions
basicConstraints       = critical, CA:false
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
keyUsage               = critical, digitalSignature, keyEncipherment
