#
# OpenSSL Certificate Authority configuration file.

####################################################################
[ ca ]
default_ca = CA_default

####################################################################
[ CA_default ]
dir                 = .
certificate         = $dir/{{CA_NAME}}.pem
private_key         = $dir/{{CA_NAME}}.key
new_certs_dir       = $dir/newcerts
database            = $dir/index.txt
serial              = $dir/serial
unique_subject      = no
default_days        = 7300
default_md          = sha256
policy              = policy_match

[ policy_match ]
countryName         = match
stateOrProvinceName = match
organizationName    = match
emailAddress        = optional
commonName          = optional

[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
countryName         = {{COUNTRY}}
stateOrProvinceName = {{STATE}}
organizationName    = {{ORG_NAME}}
commonName          = {{COMMON_NAME}}
emailAddress        = {{EMAIL}}

[ v3_ca ]
# CA certificate extensions used by `openssl ca`
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical, CA:true
keyUsage               = critical, digitalSignature, cRLSign, keyCertSign
