[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
countryName          = {{COUNTRY}}
stateOrProvinceName  = {{STATE}}
organizationName     = {{ORG_NAME}}
emailAddress         = {{EMAIL}}
commonName           = {{COMMON_NAME}}

[ usr_cert ]
# Common OpenSSL extension section name for an end-entity certificate
basicConstraints       = critical, CA:false
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
keyUsage               = critical, digitalSignature, keyEncipherment
extendedKeyUsage       = clientAuth, serverAuth